apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homelab-ingress
  namespace: homelab
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: public # Указываем MicroK8s использовать встроенный Nginx
  rules:
  - host: memos.nr64.art
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: memos-service
            port:
              number: 5230
